@keyframes flicker {
    // from {
    //     background: #646464;
    // }
    // 50% {
    //     background: #9b9b9b;
    // }
    // to {
    //     background: #646464;
    // }
    from {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}